= widget_div(class: [:list, :media, :audios]) do
  - @audio_albums.each do |album|
    %span.album= album.name
    %ul
      - album.audios.each do |audio|
        %li
          .audio{ class: "audio", "data-id" => audio.id}
            = audio.audio_languages.first.name
:coffeescript
  $("##{widget_id} .audio").draggable
    helper: "clone"
