%h2 Комментарии
.box
  %table.table
    %tbody
      %tr
        %td Всего
        %td 20
      %tr
        %td Одобренных
        %td 7
      %tr
        %td Требуют одобрения
        %td 10
      %tr
        %td Отклоненных
        %td 3