.box.white.padded
  %h4.uppercase
    = t('author.dashboard.statistics.comments_statistics') 

  %ul.import-info
    %li
      Всего
      .pull-right 0
    %li
      %td Одобренных
      .pull-right 0
    %li
      %td Требуют одобрения
      .pull-right 0
    %li
      %td Отклоненных
      .pull-right 0
      
        