%h2 Черновики
.box
  %table.table
    %tbody
      - @drafts.each do |post|
        %tr
          %td
            - cnt=post.default_content_for_shard(@current_shard)
            - title=cnt.title.strip.empty? ? t('author.post.no_title') : cnt.title
            = link_to title, edit_author_post_path(post)