%h2 Последние комментарии
.block
  %table.table
    %tbody
      %tr
        %td
          %a{ href: "" } Начало текста последнего коммен...
        %td Елена Кочеткова
      %tr
        %td
          %a{ href: "" } Various versions have evolved...
        %td Денис Мацуев
      %tr
        %td
          %a{ href: "" } It is a long established fact...
        %td Маргарет Тэтчер
      %tr
        %td
          %a{ href: "" } Начало текста последнего коммен...
        %td Оливия Уайлд
      %tr
        %td
          %a{ href: "" } It is a long established fact...
        %td Елена Кочеткова