%h2 Последние комментарии
.row-fluid
  .span12
    .box.white.padded
      %ul.import-info
        %li
          %a{ href: "" } Начало текста последнего коммен...
          .pull-right Елена Кочеткова
        %li
          %a{ href: "" } Various versions have evolved...
          .pull-right Денис Мацуев
        %li
          %a{ href: "" } It is a long established fact...
          .pull-right Маргарет Тэтчер
        %li
          %a{ href: "" } Начало текста последнего коммен...
          .pull-right  Оливия Уайлд
        %li
          %a{ href: "" } It is a long established fact...
          .pull-right  Елена Кочеткова