%h4.uppercase
  = t('author.dashboard.posts.pending_posts') 
.box.white.padded
  %ul.import-info
    - @delayed.each do |post|
      %li
        - cnt = post.default_content_for_shard(@current_shard)
        - title = cnt.title.strip.empty? ? t('author.post.no_title') : cnt.title
        = link_to title, edit_post_path(post)