%header
  %h1= t('author.dashboard.dashboard')
%section.content.dashboard
  .row-fluid
    .span6
      .row-fluid
        .span12
          = render partial: "statistics", statistics: @statistics
        -# .span6
        -#   = render partial: "comments"
      .row-fluid
        .span12
          = render partial: "drafts", drafts: @drafts
          -# = render partial: "last_comments"
    .span6.import
      = render partial: "import"
    .span6.analitics
      -# = render partial: "google_analytics", reports: @reports, accounts: @accounts if @current_shard.settings.has_site