- unless notice.nil?
  .alert.alert-success
    %button.close{ "data-dismiss" => "alert"} x
    = notice
- unless flash[:error].nil?
  .alert.alert-error
    %button.close{ "data-dismiss" => "alert"} x
    = flash[:error]
- unless flash[:error_notice].nil?
  .alert.alert-error
    %button.close{ "data-dismiss" => "alert"} x
    = flash[:error_notice]

- flash[:error] = flash[:error_notice] = flash[:notice] = nil