/*
 *= require chosen
 *= require_self
 *= require simpleplayer
 *= require audiojs/index
 *= require bootstrap-datepicker
*/
@import "bootstrap";
@import "bootstrap-responsive";
body {
  background: #F8F8F8 image-url('author/stripes.png');
  padding-top: 50px;
}
a { color: #005580 /* #17317C; */}
a:hover { color: #005580;}
header {
  margin: 0 0 35px 0;
    .alert {
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    max-width: 200px;
    }

  .btn {
    margin: 5px 0 0 10px;
    .icon {
      margin: 0 4px 0 0;
    }
  }
}
h1 {
  font-size: 28px;
  font-family: 'PT Sans Narrow',sans-serif;
   color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0,0,0, .3);
}
h1 [class^="icon32-"], h1 [class*=" icon32-"] {
  margin-top: -5px;
}

h2 {
   color: #777777;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}


h2 [class^="icon32-"], h2 [class*=" icon32-"] {
  margin-top: -12px;
  opacity: .6;
  filter: 1;
}
ul {
  &.nav-pills {
    li {
      .dont_publish {
        background-color: #ccc;
      }
      &.active {
        .dont_publish {
          background-color: #999;
        }
      }
      label {
        display: inline;
        color: inherit;
      }
    }
  }
}
.nowrap {
  white-space: nowrap;
}
.inline { display: inline;}
.table {
  border: 1px solid #ddd;
}
.content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03) inset;
    margin: 0 0 40px;
    padding: 20px;
    *zoom: 1;
    .block {
    background:  #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-sizing:padding-box;
   -moz-box-sizing:padding-box;
   -webkit-box-sizing:border-box;
    } 

   &:after {
    clear: both;
  }
}
.content:before, .content:after {
  display: table;
  content: "";
}

.content_form {
  .ready_block {
    padding: 4px 0 5px 10px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border: #fff 1px solid;
    border-radius: 3px !important;
    margin-left: 0px;
    &.ready {
      background-color: #cfc;
      border: #9d9 1px solid;
    }
  }
}
.header-bar { background:#B33333;
 border-bottom: 1px solid rgba(255, 255, 255, 0.95);
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;}

.index {
  h1 {  -moz-transition: all 0.2s linear 0s;
  color: #000000;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.5); }
  .header-bar {
  background: url("application/space-img.png") no-repeat scroll 400px -69px, url("application/space.png") repeat scroll 0 0 transparent;
  box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  }
  .content {
    padding-top: 12px;
   }

}

.settings {
  h1 {  -moz-transition: all 0.2s linear 0s;
  color: #000000;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.5); }

  .header-bar {
  background: url("application/space-img.png") no-repeat scroll 400px -398px, url("application/space.png") repeat scroll 0 0 transparent;
  box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  }
  .content {
  padding-top: 12px;
 }

}
.social_drafts {
  .header-bar { 
   background: #d86628;
  }
}
 
.blog {
  .header-bar { background:#3e6498; }

}
 
.posts {
  .header-bar { background:#3e6498; }

}
.news {
  .header-bar { background:#49ABDB; }
}
.events {
  .header-bar {	background:#468847;}
}
.videos {
  .header-bar {	background:#83b33f;}
}
.albums {
  .header-bar {	background:#595db3;}
}

.static_pages {
.header-bar {	background:#56b39a;}
}

.page { position: relative; z-index: 1;}
.navbar-fixed-top {
  border-radius: 0;
}
.secondary-nav {
  a {
    font-size: .88em;
  }
}
.sticky {
  td {
    background-color: #ffc !important;
  }
}
.thumbnails {
  .thumbnail {
    position: relative;
    background: #fff;
    .x {
      top: 6px;
      right: 6px;
      position: absolute;
    }
  }
}
.gallery {
  .tab-pane {
    border: 1px #ddd solid;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    padding: 10px 0 0 10px;
    margin-top: -19px;
  }
  &.tabbable {
    .tab-content {
      padding-top: 20px;
      clear: left;
    }
    .nav-tabs {
      border-bottom: none;
    }
  }
  p {
    &.empty {
      margin: 0 10px 10px 0;
      border: 2px #ddd dashed;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      text-align: center;
      padding: 40px 0 40px 0;
    }
  }
  .icon-remove {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    right: 4px;
    top: 4px;
  }
  .span1 {
    position: relative;
    input {
      display: none;
    }
  }
}
.service {
  .password_auth {
    text-decoration: none;
    border-bottom: 1px dashed;
  }
  .password_auth_form {
    display: none;
    margin-top: 20px;
  }
}
td {
  &.personal {
    width: 420px;
  }
  &.official {
    width: 420px;
  }
}
.pending { position: relative;}
.pending_content {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    max-width: 200px;
    position: absolute;
    right: 260px;
    z-index: 100;
  a {
    color: #C09853;
    text-decoration: underline;
  }
}
.published {
  color: #248b00;
}
.status {
  font-size: .88em;
  font-style: italic;
}
div {
  &.sticky {
    display: inline-block;
    font-size: .88em;
    min-width: 8em;
    visibility: hidden;
    a {
      background-image: image-url('author/sticky.png');
      background-repeat: no-repeat;
      background-position: right -11px;
      padding-right: 29px;
      height: 11px;
      line-height: 11px;
      margin: 0 20px 0 5px;
      display: block;
      color: #666;
      text-decoration: none;
      &:hover {
        color: #555;
        text-decoration: none;
      }
    }
    &.sticked { visibility: visible!important;
      a {
        background-position: right 0px;
        font-style: italic;
        color: #999;
      }
    }
  }
  &.wysiwyg {
    width: auto !important;
    iframe {
      width: 100% !important;
    }
  }
}
.small {
  font-size: .88em;
}
.gray {
  color: #747474;
}
.light-gray {
  color: #999;
}
.cursive {
  font-style: italic;
}
.green {
  color: #248b00;
}
.orange {
  color: #f2a319;
}
.purple {
	color:#8d4382;
}

.data {
  border: none;
  th {
  background: none repeat scroll 0 0 #DDDDDD !important;
    border: medium none;
    border-bottom: #ddd solid 1px;
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #EEEEEE;
    text-transform: uppercase;
  }
  thead {
    background: #f2f2f2;
  }
  tr {
       .btns { vertical-align: bottom;
       .btn { display: block; margin: 0 0 5px;}
        }

    td {

      vertical-align: middle;
      border-color: #F5F5F5;
      &:last-child {
        width: 1%;
        white-space: nowrap;
        text-align: right;
      }
      &:first-child {
        & + td {
          width: 1%;
          min-width: 5em;
          & + td {
            width: 1%;
            min-width: 5em;
            & + td {
              width: 1%;
              min-width: 5em;
              text-align: right;
              text-align: center;
            }
          }

        }
      }
      .actions {
        visibility: hidden;
        &.visible {
          visibility: visible;
        }
        &.inline {
          display: inline;
          margin-left: 8px;
        }
      }
      .label {
        margin: 0 0 0 4px;
      }
      .domen {
        display: block;
        .badge {
          text-transform: uppercase;
          font-size: 9px;
          margin: 0 0 0 4px;
          background-color: #eee;
          color: #888;
          text-shadow: 0 1px 0 rgba(255,255,255,0.7);
        }
      }
      .badge {
        &.default {
          background-color: #eee;
        }
      }
      .btn-small {
        white-space: nowrap;
        .icon {
          opacity: .6;
          -moz-opacity: .6;
          -webkit-opacity: .6;
          filter: 1;
          margin: 0 4px 0 0;
        }
      }
    }
    &:hover {
      div {
      &.sticky{ visibility: visible;}
       }

      td {
        background: #fbfcf5 !important;
        .actions {
          visibility: visible;
        }
        .stick-box {
          visibility: visible;
        }
      }
    }
  }
   &.social_drafts{
      tr{
         td {
           &:first-child {
            width: 1%;
             & + td {
               white-space: normal;
               width: 25%;
               div {
                max-width: 240px;
               }

             }
           }
         }
      }
    }

  &.feeds {
    tr {
      &.table-header {
        td {
          border: none;
          padding: 30px 8px 12px;
          text-align: left;
        }
        h3 {
          text-align: left;
          font-size: 15px;
          display: inline;
          margin: 0 6px 0 0;
          .badge {
            color: #333 !important;
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba(255,255,255,0.7);
          }
        }
        &:hover {
          td {
            background: #fff !important;
          }
        }
      }
    }
  }
  .shared {
    margin: 0 6px 0 0;
  }
  .link {
    margin: 0 6px 0 0;
  }
  &.events {
    .place {
      white-space: nowrap;
    }
  }
  &.albums {
    tr {
      td {
        &:first-child {
          & + td {
            & + td {
              text-align: right;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}

.data.social {
margin-bottom: 0;
tbody { border:solid 1px #ddd;}
tr{
th {
background: #3E6498 !important;
border-bottom-color: #FFFFFF;
color:#fff;
text-shadow: none;
&:first-child {
border-radius:4px 0 0 0;
-moz-border-radius:4px 0 0 0;
-webkit-border-radius:4px 0 0 0;
}
&:last-child {
border-radius:0 4px 0 0;
-moz-border-radius:4px 0 0 0;
-webkit-border-radius:4px 0 0 0;
}
}
}
}
.actions {
  font-size: .88em;
  color: #999;
  margin: 5px 0 0 0;
  white-space: nowrap;
  display: block;
  a {
    color: #666;
    text-decoration: none;
    margin: 0 4px 0 0;
    display: inline-block;
    &:hover {
      color: #666;
      text-decoration: underline;
    }
  }
}
.stick-box {
  margin: 0 0 0 5px;
  visibility: hidden;
  &.stick-on {
    visibility: visible !important;
    .stick {
      background-position: 0 0;
    }
    .s-label {
      color: #999;
      font-style: italic;
    }
  }
  .stick {
    background-image: image-url('author/switch.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    display: inline-block;
    margin: 0 0 -2px 3px;
    display: inline-block;
  }
  &.stick-off {
    .stick {
      background-position: 0 -11px;
    }
    a {
      &:hover {
        color: #666;
      }
    }
  }
  a {
    color: #999;
    text-decoration: none;
  }
  .s-label {
    font-size: .88em;
  }
}
.whitelink{ color:rgba(255,255,255, .6);font-size: 0.88em; text-decoration: none;
  &:hover { color:rgba(255,255,255, .6);
  
  }
}

.blacklink {
  color: #555;
  text-decoration: none;
  font-size: 0.88em;
  &:hover {
    color: #555;
    .icon {
      filter: 1;
      -khtml-opacity: 0.8;
      -moz-opacity: 0.8;
      opacity: 0.8;
    }
  }
  .icon {
    filter: 1;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
[class^="icon32-"], [class*=" icon32-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url('author/glyphicons48-halflings.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon32-"]:last-child, [class*=" icon32-"]:last-child {
  *margin-left: 0;
  margin-right: -10px;
}

.navbar {
  .brand {
    color: #ddd;
    display: block;
    float: left;
    font-family: Georgia;
    font-size: 17px;
    font-style: italic;
    line-height: 1;
    padding: 10px 20px 12px;
    text-shadow: 0 -1px 40px #fff, 0 -1px 0 #000;
  }
  .nav {
    & > li {
      & > a {
        padding: 9px 7px 11px;
      }
    }
  }
}
.btn-mini {
  font-size: 11px;
  line-height: 14px !important;
  padding: 2px 5px !important;
}
.navbar-inner .btn.disabled, .navbar-inner .btn[disabled] {
  background: rgba(255,255,255,0.15);
  border-color: rgba(0,0,0,0.8) rgba(255,255,255,0.1) rgba(255,255,255,0.5) rgba(0,0,0,0.5);
  color: #aaa;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
}
.post-text {
  white-space: normal;
  min-width: 5em;
  display: inline-block;
  min-width: 20em;
  em {
    display: inline-block;
    a {
      color: #555;
    }
  }
}
.comments {
  td {
    .c-user {
      display: block;
    }
  }
  .hiden {
    .btn {
      visibility: hidden;
    }
  }
  tr {
    &:hover {
      .hiden {
        .btn {
          visibility: visible;
        }
      }
    }
    .hiden {
      .btn {
        &.junk {
          visibility: visible !important;
        }
      }
    }
  }
}
.c-user {
  font-weight: bold;
  color: #234a76;
  .icon {
    margin-right: 0.2em;
    opacity: .6;
    filter: 1;
  }
}
.junk {
  background: none;
  border: none;
  box-shadow: none;
  padding: 5px 0px 5px 4px;
  i {
    opacity: .6;
    filter: 1;
  }
  &:hover {
    i {
      background-image: image-url('author/glyphicons-halflings-white.png');
      opacity: .99;
      filter: 1;
    }
  }
}
.external {
  margin: 0px 0 10px;
  display: block;
  float: right;
  text-decoration: underline;
}
.publish_at {
  font-size: 11px;
  font-weight: bold;
}
.form-top,
.form-actions { background:rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(255, 255, 255, 0.6); border-top:none; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;}
.form-top { border-radius: 8px 8px 0 0; margin: -20px -20px 30px;padding: 10px 10px 0; min-height: 32px; }
.form-actions { border-radius: 0 0 8px 8px; margin: 30px -20px -20px; padding: 10px 10px 10px 20px; }
.form-options {  background:rgba(0, 0, 0, 0.03);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius:4px;
    padding:20px;
    margin: 0 0 20px;}
     

.dashboard {
  .table {
    border: none;
  }
  .box {
    margin: 0 ;
    min-height: 80px;
  }
  .data {
    &.feeds {
      tr {
        &.table-header {
          td {
            border: none;
            padding: 30px 8px 12px;
            text-align: left;
          }
          h3 {
            text-align: left;
            font-size: 15px;
            display: inline;
            margin: 0 6px 0 0;
            .badge {
              margin: 0 0 0 4px;
              background-color: #eee;
              color: #888;
              text-shadow: 0 1px 0 rgba(255,255,255,0.7);
              text-transform: uppercase;
              font-size: 9px;
            }
          }
          &:hover {
            td {
              background: #fff !important;
            }
          }
        }
        td {
          vertical-align: top;
          text-align: left;
          &:first-child {
            vertical-align: middle;
            & + td {
              text-align: left;
              & + td {
                width: auto;
              }
            }
          }
        }
      }
      th {
        border-bottom: medium none;
        font-size: 0.88em;
      }
    }
  }
}
.analitics {
  .nav-tabs {
    margin-bottom: 0;
  }
  .tab-content {
    background:rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 6px 6px 6px;
    min-height:200px;
    .tab-pane {   padding: 10px 8px; }
     
  }
}
.settings {
  .block {
    margin: 0 0 30px 0;
  }
}
.dashboard {
  .block {
    margin: 0 0 30px 0;
  }
}
.biglink {
  font-size: 14px;
  text-decoration: underline;
}
.link {
  text-decoration: underline;
}
.delete {
  color: #999;
  .badge-important {
    visibility: hidden;
    padding: 0px 6px 1px;
    margin: 0 0 0 4px;
  }
  &:hover {
    color: #b94a48;
    .badge-important {
      visibility: visible;
    }
  }
}
.dotted {
  text-decoration: none !important;
  border-bottom: dotted 1px;
}
.symbol {
  font-weight: bold;
}
.danger {
  color: #b94a48;
}
.shared {
  background: image-url('author/shared.png');
  background-repeat: none;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  &.picasa {
    background-position: 0 0;
    width: 63px;
  }
  &.youtube {
    background-position: 0 -30px;
    width: 58px;
  }
  &.amazon {
    background-position: 0 -60px;
    width: 73px;
  }
  &.vkontakte {
    background-position: 0 -90px;
    width: 75px;
  }
  &.facebook {
    background-position: 0 -120px;
    width: 65px;
  }
  &.twitter {
    background-position: 0 -150px;
    width: 58px;
  }
    &.Twitter {
    background-position: 0 -150px;
    width: 58px;
  }

  &.google_analytics {
    background-position: 0 -180px;
    width: 58px;
  }
    &.livejournal {
    background-position: 0 -210px;
    width: 75px;
  }

}
.prefs {
  border: none;
  td {
    vertical-align: middle;
  }
  tr {
    td {
      &:first-child {
        white-space: nowrap;
        width: 1%;
        white-space: nowrap;
        & + td {
          width: auto;
        }
      }
    }
  }
}
.role {
  font-size: 11px;
  font-weight: bold;
}
.author {
  color: #005580;
}
.admin {
  color: #b94a48;
}
.addbox {
  margin:10px 0 0;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  margin: 0 4px 0 0;
}
.info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner-info a, .inner-info a:visited {
  color: #555;
}
.inner-info {
  font-style: italic;
  font-size: .88em;
}
.videos {
  tr {
    td {
      &:first-child {
        img {
          max-width: 120px;
          height: 120px;
          margin: 0 8px 0 0;
          float: left;
        }
        .badge {
          margin: 0 4px 0 0;
          &:first-child {
            margin: 0 4px 0 4px;
          }
        }
      }
    }
  }
}
.video-preview { margin: 0 0 20px;}
.urls {
  .input-prepend {
  .add-on:first-child{
  margin: -2px -4px 0 0;
  }
  input { margin: 0 0 2px;}
 }
}

.nav-tabs.media {
  margin: 0;
}

.nav-tabs.media > li > a { color: #666; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);}
.nav-tabs.media > li > a:hover { background: #fff;}
.nav-tabs.media > .active > a,
.nav-tabs.media > .active > a:hover {
  border:none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.btn-primary { 
 background-color: hsl(215, 46%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b65a0", endColorstr="#2d4d7a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3b65a0), to(#2d4d7a));
  background-image: -moz-linear-gradient(top, #3b65a0, #2d4d7a);
  background-image: -ms-linear-gradient(top, #3b65a0, #2d4d7a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b65a0), color-stop(100%, #2d4d7a));
  background-image: -webkit-linear-gradient(top, #3b65a0, #2d4d7a);
  background-image: -o-linear-gradient(top, #3b65a0, #2d4d7a);
  background-image: linear-gradient(#3b65a0, #2d4d7a);
  border-color: #2d4d7a #2d4d7a hsl(215, 46%, 30.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}
.label-info, .badge-info, .badge-blog {
    background-color: #4c70a3;
}
.badge-news { background-color: #49ABDB;}

.audiojs { background:rgba(0,0,0,0.1); }

.password_auth_form {  background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: absolute;
    form { margin:0;}
    .form-actions { margin:30px -10px -10px}
 }
 
 .connections {
	margin:30px 0;
	padding:0;
	list-style:none
}
.connections li { display: block; }

.accordion-heading.btn-box {
	background:rgba(255,255,255,0.8);
	box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
	-webkit-box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
    padding:0;
	display:block;
	margin:0 2px 0;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
	}
	.accordion-heading input[type="checkbox"] { margin-right: 15px;}
	.connections .actions { margin-top: 2px}
	.accordion-heading.btn-box:hover {	background:rgba(255,255,255,0.99);}
.connections li.active span {
	background:#45537C
}
.connections li.disable span {
	background:none repeat scroll 0 0 rgba(0,0,0,0.1);
	box-shadow:0 1px 0 rgba(0,0,0,0.25) inset,0 -1px 0 rgba(255,255,255,0.9) inset
}
.connections li.disable .btn-social em {
	display:block;
	background:rgba(255,255,255,0.6)
}

.accordion-heading .accordion-toggle.btn-user  { padding: 8px 0 9px 36px; display: block;}
.accordion-heading .actions { float: right; display: none;}
.accordion-heading:hover .actions { display: block;}
.accordion-heading .accordion-toggle.btn-user img { float: left; margin:-7px 0 -12px -35px; border-radius: 4px; max-height: 32px;
    max-width: 32px;}
.accordion-heading .accordion-toggle.btn-user strong { color: #333;}
.connections .accordion-inner { border: none; padding: 8px 7px}
.connections .accordion-group { background:rgba(0,0,0,0.03); border-radius: 4px;  margin: 0; padding: 4px  }
.connections .nav-pills > li > a { padding: 6px 8px;}
.connections .nav-pills .active > a,.connections .nav-pills .active > a:hover { background: #3E6498; }

.connections .badge { margin: 0 0 0 4px;}

.settings .connections .block { margin: 0;}
.icon-social16 { background:url("author/social16.png"); height: 16px;width: 16px; margin: 0 4px 0 0; }
.icon-social16.facebook {background-position: 0 0;}
.icon-social16.twitter {background-position: -16px 0;}
.icon-social16.vkontakte {background-position: -32px 0;}
.icon-social16.livejournal {background-position: -48px 0;}
.icon-social16.youtube { background-position: -64px 0;}
.icon-social16.amazon { background-position: -80px 0;}
.icon-social16.google_analytics{ background-position: -96px 0;}
.icon-social16.picasa { background-position: -112px 0;}


.add-connect .dropdown-menu { min-width: 100%;}
.options { list-style: none; margin: 0 0 18px; padding: 0;}
.options > li {  min-width: 300px; padding: 0; }
.options > li > em {  color: #888;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #F3F3F3;
    text-transform: uppercase; font-style: normal;}

.profile {	background:rgba(255,255,255,0.8);
	box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
	-webkit-box-shadow:0 -1px 0 rgba(0,0,0,0.15) inset,0 1px 0 rgba(255,255,255,0.8) inset;
	padding:6px;
	display:block;
	margin:0 0 20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px }
.options .sticky { float: right; margin: 5px 0 0 15px;}
.somebook-user { padding: 0 10px 0 110px;}
.somebook-user img { float: left; margin: 0 0 0 -110px;}
.somebook-user strong { font-size: 18px; color: #333;}

.somebook-user-options i { opacity: .7;}
.somebook-user-options .btn:hover i { opacity: .99;}

.somebook-user-options { margin: 10px 0 -20px;}
.somebook-user-options .form-horizontal { margin: 0;}
.somebook-user-options .form-horizontal .control-label { font-size: 12px; }
.somebook-user-options .form-horizontal .control-group { margin: 0 0 10px; }
.somebook-user-options .form-horizontal .form-actions { margin:20px -20px -20px; text-align: right;}
.somebook-user-options [class*="span"]:first-child .control-group {  margin-left: 110px;}
.somebook-user-options [class*="span"]:first-child .somebook-user { float: left;
    height: 130px;
    margin-bottom: -130px;
    padding: 0;
    width: 110px;}
.somebook-user-options [class*="span"]:first-child .somebook-user a { display: block;}
.somebook-user-options [class*="span"]:first-child .somebook-user img { margin: 0;}
.block-label { display: block;}
.domain-postfix { font-weight: bold; float: left; margin: 0 0 0 -3px; border-radius: 0 4px 4px 0;}
.domain-name { float: left; width: 120px}
.role { color: #005580;    padding: 6px 8px; display: block;}

.form-stacked label { color: #888;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #F3F3F3;
    text-transform: uppercase;}
.form-options label.checkbox {  color: #FFFFFF; background: #bbb;
    display: inline-block;
    font-size: 10px;
    margin: 2px 0 0;
    padding: 5px 9px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}   
    .form-options label.checkbox.label.auto { background: #4C70A3}
    .form-options label.checkbox.label.edited { background: #468847}
.form-options .controls { margin-bottom:0;}
.form-options label.checkbox input[type="checkbox"] { margin: 0 5px 0 -2px;} 
/* add to author.css .gallery .tab-pane */

.gallery .tab-pane { background:#fff;}

/* change to author.css .nav-tabs.media */

.nav-tabs.media > li > a { color: #888;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #F3F3F3;
    text-transform: uppercase;}
.nav-tabs.media > li { margin-bottom: -3px;}  
.form-horizontal .control-group.publish-date { margin: 0 0 6px;}

.connections textarea {background: #fff; border-radius: 4px; border: solid 1px #ccc;}

.edited {  background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #fff;
    margin: 5px -10px -25px;
    padding: 5px 10px 10px;}
    
.hide-edit .btn { border-radius: 0 0 4px 4px ; margin: 4px 0 0;}
.copy { margin: 0px 0 5px ; text-align: center; }
.copy span { background: rgba(0,0,0, .1); border-radius: 0 0 4px 4px; display: inline-block; padding: 4px;margin: -5px 0 0; }
  
.terminals { padding: 0; margin: -5px; list-style: none;  background: rgba(255, 255, 255, 0.5); box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2) inset ; border-radius: 4px; padding: 0 10px;  }  
.terminals > li { padding: 5px 0px; margin: 0; border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FAFAFA;
	*zoom:1
}
.terminals > li:first-child { border-top: none;}
.terminals > li:last-child { border-bottom: none;}

.terminals > li:before, .terminals > li:after {
	display:table;
	content:""
}
.terminals > li:after {
	clear:both
}

.connections .terminals .nav-pills > li > a:hover { background: #e3e3e3;}
.terminal-form { margin:10px 0 30px; }

.terminal-name { font-size: 13px; font-weight: bold;  display: inline-block; margin-top: 5px;}
.terminal-name:hover { text-decoration: none;  }
.post-settings label { float: left; margin: 6px 6px 0; }
.post-settings { float: right; white-space: nowrap;}
.post-settings .dropdown-menu { left:auto; right: 0;}
.post-settings .input-append .btn { margin-left: -5px; }
.post-settings .badge { bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    white-space: normal;
    width: 100px;
    z-index: 1000; }

.label-blog { background: #4C70A3;}
.label-news { background: #49ABDB;}
.label-domain { background: #bbb;}
.label-input input[type="checkbox"]{ margin: -3px 3px 0px!important; }
.label-input { padding: 4px!important; margin:0 4px 10px 0!important; text-transform: uppercase; }

.wall { width: 70px; }
.feed-attach { margin: 20px 20px 0px 70px }
.save-id { margin:10px 20px 0 73px }
.actions.visible { display: block!important}
.modal{ background:image-url("author/stripes.png") repeat scroll 0 0 #F8F8F8;}
.modal:focus {
outline: none;
}

.modal-body .connections { margin: 0;}
.modal-body .form-options { margin:5px 0 0; padding:20px 10px 0px}

.modal-body .options > li > em { margin: 0 0 20px; display: block;}

.box.white { background: rgba(255, 255, 255, 0.9);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset; }
    
.box { margin-bottom:18px; }
.box.padded { padding: 10px;}    

.create { bottom: 55px;
    height: 60px;
    position: absolute;
    right: 30px;}  
    
 #patterns { width: 780px;  margin: -350px 0 0 -380px; } 
     
 #patterns .modal-body { min-height: 580px}
.nav-list.patterns { margin: 10px 0 20px; padding: 0;}
.nav-list.patterns > li  { position: relative; padding:3px 30px 3px 8px; margin: 0 0 2px;}
.nav-list.patterns > li a.delete {position: absolute;
    right: 2px; display: none;
    text-decoration: none;
    top: 2px; width: 20px;}
.nav-list.patterns > li a:hover { background: none;}
.nav-list.patterns > li a.patern:hover { text-decoration: underline; display: inline-block;}
.nav-list.patterns > li:hover a.delete { display: inline-block;}
.nav-list.patterns > li:hover { background: #eee; border-radius: 4px;}
.form-horizontal .form-options .control-group { margin-bottom: 0; } 
.urls .input-prepend { white-space: nowrap; display: block; }
.help-block { font-size: 12px; font-style: italic; color:#555;}
.form-options .event-connetions label.checkbox  { padding: 5px 5px 2px 9px }
.langs { 
margin: 0 0 -10px;
}
.nav-pills.langs > li > a { position: relative;margin-bottom: 10px;border-radius: 4px 4px 0 0; background:rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); color: #666666; font-weight: bold;}
.nav-pills.langs > li > a:hover { background: #fff; box-shadow: none;}
.nav-pills.langs > li > a i.arrow { display: none;}
.nav-pills.langs > li.active > a i.arrow { display: block;}
.nav-pills.langs > li.active > a  { background: #B33333; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6)}
.nav-pills.langs > li.active > a i.arrow { display: block;}

i.arrow, i.arrow:after {
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;
}
i.arrow:after {
    content: "";
    z-index: -1;
}

i.arrow { border-top-color: #B33333;
    border-width: 10px 10px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;}
    
i.arrow:after {border-top-color: rgba(0, 0, 0, 0.25);
    border-width: 11px 11px 0;
    bottom: -1px;
    left: -11px;}

.publish-date .badge { display: inline-block;
    line-height: 18px;
    margin: 5px 5px 0 -8px; }

input[type="file"].upload-input { min-width: 300px; }

.icon-important {  background-image: image-url('author/glyphicons-halflings-important.png');}
.icon-info {  background-image: image-url('author/glyphicons-halflings-info.png');}
.icon-success {  background-image: image-url('author/glyphicons-halflings-success.png');}
.icon-blog {  background-image: image-url('author/glyphicons-halflings-blog.png');}
.icon-default {  background-image: image-url('author/glyphicons-halflings-default.png');}

.analitic-td {font-size: 0.88em; font-weight: bold}
.analitic-td a { margin: 0 4px 0 0;}


.likes-counter, .likes-counter:hover { color: #B94A48}
.shared-counter, .shared-counter:hover {  color:#468847}
.subsribe-counter,.subsribe-counter:hover { color:#3A87AD }
.comment-counter, .comment-counter:hover { color: #999}

.import-info, .import-info li { list-style: none; padding: 0;  margin: 0;}   
.import-info li {padding: 9px;}
.import-info .pull-right { margin-bottom: 8px; padding-left: 4px} 
.import-info .badge  { margin-left: 4px; }
.import-info .badge i { margin-right: 4px; }

.import-info .pull-right { padding-right: 3px;}
.inline-block { display: inline-block; }  


h4.uppercase {  color: #888888;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    text-transform: uppercase;
    margin-bottom: 18px;
    }
h4.uppercase.more { margin:10px 0 0; display: block}
h4.uppercase.more a { color: #444; text-decoration: underline; text-shadow: 0 1px #f6f6f6}
h4.uppercase.more a:hover { color: #000;}

/* analitics */


.post { font-size: 15px; font-weight: bold; color: #888; text-shadow: 0 1px 0 #f6f6f6}


.post-social-data li {
	*zoom:1
}
.post-social-data li:before,
.post-social-data  li:after {
	display:table;
	content:""
}
.post-social-data li:after {
	clear:both
}


.post-social-data ul,
.post-social-data ul li { list-style: none; padding: 0; margin: 0;  font-size: 12px;}

.post-social-data > ul { padding: 0 0 0 10px} 
.post-social-data > ul > li { padding-bottom: 8px}

.post-social-data h4 { margin: 0 0 8px; display: block;}
.post-comments ul li {  line-height: 15px;margin: 0 0 11px; padding: 0 0 0 28px;}
.post-comments ul li .c-name { margin: 0 8px 0 -24px; float: left;}
.post-social-data .badge { margin-right: 4px;}

ul.post-functions { padding: 10px 20px 0;}
ul.post-functions > li { padding-left: 80px; margin: 0 0 12px; }
ul.post-functions > li .f-name { margin: 0 0 0 -80px; float: left; }

.t-name { font-weight: bold; margin: 0 4px 9px 0; display: block;  }

.c-name { color: #888; font-weight: bold; margin: 0 4px 4px; }
.c-name img { max-width: 20px; max-height: 20px;}


.ajax-pagination {  
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    margin: 40px 0;
    padding: 5px!important;
    text-align: center;}
.load-divider { }


.inline-list li { float: left; }

.post-functions > li { padding: 0 0 0}

@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 50px;
  }
   .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width:940px;}
   header { padding-left: 20px; padding-right: 20px;}
  .navbar-fixed-top { position: absolute;}
   .navbar .brand { margin:0}
   .navbar .btn-navbar { margin-right: 30px;}
}
@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 50px; }
     header { padding-left: 20px; padding-right: 20px;}
   .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width:940px;}
   .navbar-fixed-top { position: absolute;}
   .navbar .brand { margin: 0 }
   .navbar .btn-navbar { margin-right: 30px;}
}
