/*
 *= require chosen
 *= require_self
 *= require simpleplayer
 *= require audiojs/index
 *= require bootstrap-datepicker
*/
@import "bootstrap";
@import "bootstrap-responsive";
body {
  background: #F8F8F8 image-url('author/stripes.png');
  padding-top: 50px;
}
header {
  margin: 0 0 35px 0;
  .btn {
    margin: 5px 0 0 10px;
    .icon {
      margin: 0 4px 0 0;
    }
  }
}
h1 {
  font-size: 28px;
  font-family: 'PT Sans Narrow',sans-serif;
   color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0,0,0, .3);
}
h1 [class^="icon32-"], h1 [class*=" icon32-"] {
  margin-top: -5px;
}

h2 {
   color: #777777;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}


h2 [class^="icon32-"], h2 [class*=" icon32-"] {
  margin-top: -12px;
  opacity: .6;
  filter: 1;
}
ul {
  &.nav-pills {
    li {
      .dont_publish {
        background-color: #ccc;
      }
      &.active {
        .dont_publish {
          background-color: #999;
        }
      }
      label {
        display: inline;
        color: inherit;
      }
    }
  }
}
.nowrap {
  white-space: nowrap;
}
.inline { display: inline;}
.table {
  border: 1px solid #ddd;
}
.content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03) inset;
    margin: 0 0 40px;
    padding: 20px;
    *zoom: 1;
    .block {
    background:  #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-sizing:padding-box;
   -moz-box-sizing:padding-box;
   -webkit-box-sizing:border-box;
    } 

   &:after {
    clear: both;
  }
}
.content:before, .content:after {
  display: table;
  content: "";
}

.content_form {
  .ready_block {
    padding: 4px 0 5px 10px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border: #fff 1px solid;
    border-radius: 3px !important;
    margin-left: 0px;
    &.ready {
      background-color: #cfc;
      border: #9d9 1px solid;
    }
  }
}
.header-bar { background:#B33333;
 border-bottom: 1px solid rgba(255, 255, 255, 0.95);
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;}

.index {
  h1 {  -moz-transition: all 0.2s linear 0s;
  color: #000000;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);}
  .header-bar {
  background: url("application/space-img.png") no-repeat scroll 400px -69px, url("application/space.png") repeat scroll 0 0 transparent;
  box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  }
  .content {
    padding-top: 12px;
   }

}

.settings {
  h1 {  -moz-transition: all 0.2s linear 0s;
  color: #000000;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);}

  .header-bar {
  background: url("application/space-img.png") no-repeat scroll 400px -398px, url("application/space.png") repeat scroll 0 0 transparent;
  box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 50px 20px rgba(0, 0, 0, 0.5) inset;
  }
  .content {
  padding-top: 12px;
 }

}

 
.blog {
  .header-bar { background:#3A87AD; }

} 
.news {
  .header-bar { background:#52bccc; }
}
.events {
  .header-bar {	background:#468847;}
}


.page { position: relative; z-index: 1;}
.navbar-fixed-top {
  border-radius: 0;
}
.secondary-nav {
  a {
    font-size: .88em;
  }
}
.sticky {
  td {
    background-color: #ffc !important;
  }
}
.thumbnails {
  .thumbnail {
    position: relative;
    background: #fff;
    .x {
      top: 6px;
      right: 6px;
      position: absolute;
    }
  }
}
.gallery {
  .tab-pane {
    border: 1px #ddd solid;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    padding: 10px 0 0 10px;
    margin-top: -19px;
  }
  &.tabbable {
    .tab-content {
      margin-top: -20px;
      padding-top: 20px;
      clear: left;
    }
    .nav-tabs {
      border-bottom: none;
    }
  }
  p {
    &.empty {
      margin: 0 10px 10px 0;
      border: 2px #ddd dashed;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      text-align: center;
      padding: 40px 0 40px 0;
    }
  }
  .icon-remove {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    right: 4px;
    top: 4px;
  }
  .span1 {
    position: relative;
    input {
      display: none;
    }
  }
}
.service {
  .password_auth {
    text-decoration: none;
    border-bottom: 1px dashed;
  }
  .password_auth_form {
    display: none;
    margin-top: 20px;
  }
}
td {
  &.personal {
    width: 420px;
  }
  &.official {
    width: 420px;
  }
}
.pending_content {
  padding: 4px 0 5px 10px;
  -webkit-border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  border: #000 1px solid;
  border-radius: 9px !important;
  background-color: #ff0;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
  a {
    color: #000;
  }
}
.published {
  color: #248b00;
}
.status {
  font-size: .88em;
  font-style: italic;
}
div {
  &.sticky {
    display: inline-block;
    font-size: .88em;
    min-width: 8em;
    a {
      background-image: image-url('author/sticky.png');
      background-repeat: no-repeat;
      background-position: right -11px;
      padding-right: 29px;
      height: 11px;
      line-height: 11px;
      margin: 0 20px 0 5px;
      display: block;
      color: #666;
      text-decoration: none;
      &:hover {
        color: #555;
        text-decoration: none;
      }
    }
    &.sticked {
      a {
        background-position: right 0px;
        font-style: italic;
        color: #999;
      }
    }
  }
  &.wysiwyg {
    width: auto !important;
    iframe {
      width: 100% !important;
    }
  }
}
.small {
  font-size: .88em;
}
.gray {
  color: #747474;
}
.light-gray {
  color: #999;
}
.cursive {
  font-style: italic;
}
.green {
  color: #248b00;
}
.orange {
  color: #f2a319;
}
.purple {
	color:#8d4382;
}

.data {
  border: none;
  th {
  background: none repeat scroll 0 0 #DDDDDD !important;
    border: medium none;
    border-bottom: #ddd solid 1px;
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #EEEEEE;
    text-transform: uppercase;
  }
  thead {
    background: #f2f2f2;
  }
  tr {
          .btns { vertical-align: bottom;
         .btn { display: block; margin: 0 0 5px;}
        }

    td {

      vertical-align: middle;
      border-color: #F5F5F5;
      &:last-child {
        width: 1%;
        white-space: nowrap;
        text-align: right;
      }
      &:first-child {
        & + td {
          width: 1%;
          white-space: nowrap;
          & + td {
            width: 1%;
            min-width: 5em;
            & + td {
              width: 1%;
              min-width: 5em;
              text-align: right;
              text-align: center;
            }
          }

        }
      }
      .actions {
        visibility: hidden;
        &.visible {
          visibility: visible;
        }
        &.inline {
          display: inline;
          margin-left: 8px;
        }
      }
      .label {
        margin: 0 0 0 4px;
      }
      .domen {
        display: block;
        .badge {
          text-transform: uppercase;
          font-size: 9px;
          margin: 0 0 0 4px;
          background-color: #eee;
          color: #888;
          text-shadow: 0 1px 0 rgba(255,255,255,0.7);
        }
      }
      .badge {
        &.default {
          background-color: #eee;
        }
      }
      .btn-small {
        white-space: nowrap;
        .icon {
          opacity: .6;
          -moz-opacity: .6;
          -webkit-opacity: .6;
          filter: 1;
          margin: 0 4px 0 0;
        }
      }
    }
    &:hover {
      td {
        background: #fbfcf5 !important;
        .actions {
          visibility: visible;
        }
        .stick-box {
          visibility: visible;
        }
      }
    }
  }
   &.social_drafts{
      tr{
         td {
           &:first-child {
            width: 1%;
             & + td {
               white-space: normal;
               width: auto;

             }
           }
         }
      }
    }

  &.feeds {
    tr {
      &.table-header {
        td {
          border: none;
          padding: 30px 8px 12px;
          text-align: left;
        }
        h3 {
          text-align: left;
          font-size: 15px;
          display: inline;
          margin: 0 6px 0 0;
          .badge {
            color: #333 !important;
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba(255,255,255,0.7);
          }
        }
        &:hover {
          td {
            background: #fff !important;
          }
        }
      }
    }
  }
  .shared {
    margin: 0 6px 0 0;
  }
  .link {
    margin: 0 6px 0 0;
  }
  &.events {
    .place {
      white-space: nowrap;
    }
  }
  &.albums {
    tr {
      td {
        &:first-child {
          & + td {
            & + td {
              text-align: right;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
.data.social {
tr{
th {
background: #80d480!important;
border-bottom-color: #80d480;
color:#fff;
text-shadow: none;
}
}
}
.actions {
  font-size: .88em;
  color: #999;
  margin: 5px 0 0 0;
  white-space: nowrap;
  display: block;
  a {
    color: #666;
    text-decoration: none;
    margin: 0 4px 0 0;
    display: inline-block;
    &:hover {
      color: #666;
      text-decoration: underline;
    }
  }
}
.stick-box {
  margin: 0 0 0 5px;
  visibility: hidden;
  &.stick-on {
    visibility: visible !important;
    .stick {
      background-position: 0 0;
    }
    .s-label {
      color: #999;
      font-style: italic;
    }
  }
  .stick {
    background-image: image-url('author/switch.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    display: inline-block;
    margin: 0 0 -2px 3px;
    display: inline-block;
  }
  &.stick-off {
    .stick {
      background-position: 0 -11px;
    }
    a {
      &:hover {
        color: #666;
      }
    }
  }
  a {
    color: #999;
    text-decoration: none;
  }
  .s-label {
    font-size: .88em;
  }
}
.whitelink{ color:rgba(255,255,255, .6);font-size: 0.88em; text-decoration: none;
  &:hover { color:rgba(255,255,255, .6);
  
  }
}

.blacklink {
  color: #555;
  text-decoration: none;
  font-size: 0.88em;
  &:hover {
    color: #555;
    .icon {
      filter: 1;
      -khtml-opacity: 0.8;
      -moz-opacity: 0.8;
      opacity: 0.8;
    }
  }
  .icon {
    filter: 1;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
[class^="icon32-"], [class*=" icon32-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url('author/glyphicons48-halflings.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon32-"]:last-child, [class*=" icon32-"]:last-child {
  *margin-left: 0;
  margin-right: -10px;
}

.navbar {
  .brand {
    color: #ddd;
    display: block;
    float: left;
    font-family: Georgia;
    font-size: 17px;
    font-style: italic;
    line-height: 1;
    padding: 10px 20px 12px;
    text-shadow: 0 -1px 40px #fff, 0 -1px 0 #000;
  }
  .nav {
    & > li {
      & > a {
        padding: 9px 7px 11px;
      }
    }
  }
}
.btn-mini {
  font-size: 11px;
  line-height: 14px !important;
  padding: 2px 5px !important;
}
.navbar-inner .btn.disabled, .navbar-inner .btn[disabled] {
  background: rgba(255,255,255,0.15);
  border-color: rgba(0,0,0,0.8) rgba(255,255,255,0.1) rgba(255,255,255,0.5) rgba(0,0,0,0.5);
  color: #aaa;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
}
.post-text {
  white-space: normal;
  min-width: 5em;
  display: inline-block;
  min-width: 20em;
  em {
    display: inline-block;
    a {
      color: #555;
    }
  }
}
.comments {
  td {
    .c-user {
      display: block;
    }
  }
  .hiden {
    .btn {
      visibility: hidden;
    }
  }
  tr {
    &:hover {
      .hiden {
        .btn {
          visibility: visible;
        }
      }
    }
    .hiden {
      .btn {
        &.junk {
          visibility: visible !important;
        }
      }
    }
  }
}
.c-user {
  font-weight: bold;
  color: #234a76;
  .icon {
    margin-right: 0.2em;
    opacity: .6;
    filter: 1;
  }
}
.junk {
  background: none;
  border: none;
  box-shadow: none;
  padding: 5px 0px 5px 4px;
  i {
    opacity: .6;
    filter: 1;
  }
  &:hover {
    i {
      background-image: image-url('author/glyphicons-halflings-white.png');
      opacity: .99;
      filter: 1;
    }
  }
}
.external {
  margin: 0px 0 10px;
  display: block;
  float: right;
  text-decoration: underline;
}
.publish_at {
  font-size: 11px;
  font-weight: bold;
}
.controls {
  &.form-actions {
    padding: 10px 10px 0;
    margin: 0 0 10px;
  }
}
.dashboard {
  .table {
    border: none;
  }
  .box {
    margin: 0 20px 40px 0;
  }
  .data {
    &.feeds {
      tr {
        &.table-header {
          td {
            border: none;
            padding: 30px 8px 12px;
            text-align: left;
          }
          h3 {
            text-align: left;
            font-size: 15px;
            display: inline;
            margin: 0 6px 0 0;
            .badge {
              margin: 0 0 0 4px;
              background-color: #eee;
              color: #888;
              text-shadow: 0 1px 0 rgba(255,255,255,0.7);
              text-transform: uppercase;
              font-size: 9px;
            }
          }
          &:hover {
            td {
              background: #fff !important;
            }
          }
        }
        td {
          vertical-align: top;
          text-align: left;
          &:first-child {
            vertical-align: middle;
            & + td {
              text-align: left;
              & + td {
                width: auto;
              }
            }
          }
        }
      }
      th {
        border-bottom: medium none;
        font-size: 0.88em;
      }
    }
  }
}
.analitics {
  .nav-tabs {
    margin-bottom: 0;
  }
  .tab-content {
    background:rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 6px 6px 6px;
    min-height:200px;
    .tab-pane {   padding: 10px 8px; }
     
  }
}
.settings {
  .block {
    margin: 0 0 30px 0;
  }
}
.dashboard {
  .block {
    margin: 0 0 30px 0;
  }
}
.biglink {
  font-size: 14px;
  text-decoration: underline;
}
.link {
  text-decoration: underline;
}
.delete {
  color: #999;
  .badge-important {
    visibility: hidden;
    padding: 0px 6px 1px;
    margin: 0 0 0 4px;
  }
  &:hover {
    color: #b94a48;
    .badge-important {
      visibility: visible;
    }
  }
}
.dotted {
  text-decoration: none !important;
  border-bottom: dotted 1px;
}
.symbol {
  font-weight: bold;
}
.danger {
  color: #b94a48;
}
.shared {
  background: image-url('author/shared.png');
  background-repeat: none;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  &.picasa {
    background-position: 0 0;
    width: 63px;
  }
  &.youtube {
    background-position: 0 -30px;
    width: 58px;
  }
  &.amazon {
    background-position: 0 -60px;
    width: 73px;
  }
  &.vkontakte {
    background-position: 0 -90px;
    width: 75px;
  }
  &.facebook {
    background-position: 0 -120px;
    width: 65px;
  }
  &.twitter {
    background-position: 0 -150px;
    width: 58px;
  }
    &.Twitter {
    background-position: 0 -150px;
    width: 58px;
  }

  &.google_analytics {
    background-position: 0 -180px;
    width: 58px;
  }
    &.livejournal {
    background-position: 0 -210px;
    width: 75px;
  }

}
.prefs {
  border: none;
  td {
    vertical-align: middle;
  }
  tr {
    td {
      &:first-child {
        white-space: nowrap;
        width: 1%;
        white-space: nowrap;
        & + td {
          width: auto;
        }
      }
    }
  }
}
.role {
  font-size: 11px;
  font-weight: bold;
}
.author {
  color: #005580;
}
.admin {
  color: #b94a48;
}
.addbox {
  margin:10px 0 0;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  margin: 0 4px 0 0;
}
.info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner-info a, .inner-info a:visited {
  color: #555;
}
.inner-info {
  font-style: italic;
  font-size: .88em;
}
.videos {
  tr {
    td {
      &:first-child {
        img {
          max-width: 120px;
          height: 120px;
          margin: 0 8px 0 0;
          float: left;
        }
        .badge {
          margin: 0 4px 0 0;
          &:first-child {
            margin: 0 4px 0 4px;
          }
        }
      }
    }
  }
}
.video-preview { margin: 0 0 20px;}
.urls {
  .input-prepend {
  .add-on:first-child{
  margin: -2px -4px 0 0;
  }
  input { margin: 0 0 2px;}
 }
}

.nav-tabs.media {
  margin: 0;
}

.nav-tabs.media > li > a { color: #666; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);}
.nav-tabs.media > li > a:hover { background: #fff;}
.nav-tabs.media > .active > a,
.nav-tabs.media > .active > a:hover {
  border:none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}



@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 50px;
  }
  .navbar-fixed-top { position: absolute;}
   .navbar .brand { margin: 0 0 0 15px}
}
@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 50px;
  }
   .navbar-fixed-top { position: absolute;}
   .navbar .brand { margin: 0 0 0 15px}
}
