/*
 *= require wysiwyg/wysiwyg
*/

table.terminals {
  .terminal-form {
    display: none;
    margin-top: 10px;
    .edited {
      display: none;
    }
  }
  .edit {
    display: none;
    margin-top: 20px;
    float: left;
  }
}

.list {
    background:rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 0 4px 4px;
    max-height:732px;
    min-height:600px;
    overflow-y: scroll;
    padding: 15px 0;
     
     
  &.photos {
    .album {
      display: block;
      font-weight: bold;
      margin: 5px 0 15px 10px;
    }
    
    li {
      display: inline-block;
      margin: 5px 8px;
      max-width: 140px;
      vertical-align: middle;
      
      
      img.photo {
        border-radius: 4px;
        cursor: move;
        width: 140px;
        max-width: 140px;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        border:solid 3px rgba(0,0,0, .001);
        &:hover { border:solid 3px #cdf859; 
       }
      }
    }
  }
  
  &.videos {
    display: none;
    li {
      display: block;
      margin: 5px 0;
      
      img.video {
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        border:solid 3px rgba(0,0,0, .001);
        border-radius: 4px;
        cursor: move;
        width: 170px;
       &:hover { border:solid 3px #cdf859; 
       }

      }
    }
  }
}

.content_form {
  position: relative;
  
  .form-disabler {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
  }
  &.dont-publish {
    .form-disabler {
      display: block;
      cursor: not-allowed;
    }
  }
}



.tagSelector input {
	width: auto;
	min-width: 100%;
	float: left;
  padding: 4px 0;
	white-space: nowrap
}
.tagSelector .tag {
	background: #375D81;
	border-radius: 3px;
    -moz-border-radius: 3px;
	color: #FFF;
	float: left;
	height: 15px;
	padding: 0.1em 0.4em 0.5em;
	margin-right: 0.3em;
	margin-bottom: 0.3em;
    vertical-align: baseline;
}
.tagSelector .tag a {
	color: #FFF;
	cursor: pointer;
}
.tagSelector .tag a:hover {
	color: #0099CC;
	text-decoration: none;
}


.form-horizontal.form-stacked {
 min-width: 1100px;
.form-actions { padding-left: 20px;}
   
  .controls { margin-left: 0;}
  .control-label { 
    float: none;
    text-align: left;
    width: auto;
    }
  }

input.span8, textarea.span8,
.uneditable-input.span8 {
width: 720px;
}

.thick { height: 4px;}
.publish-date { margin:0;}
.publish-date label { display: inline-block;text-shadow: 0 1px #F3F3F3; text-transform:uppercase; color: #AAAAAA; font-weight:bold; font-size:11px;}

.langs { 
margin: 0 0 -10px;
}
.nav-pills.langs > li > a { position: relative;margin-bottom: 10px;border-radius: 4px 4px 0 0; background:rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); color: #666666; font-weight: bold;}
.nav-pills.langs > li > a:hover { background: #fff; box-shadow: none;}
.nav-pills.langs > li > a i.arrow { display: none;}
.nav-pills.langs > li.active > a i.arrow { display: block;}
.nav-pills.langs > li.active > a  { background: #B33333; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6)}
.nav-pills.langs > li.active > a i.arrow { display: block;}

i.arrow, i.arrow:after {
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0;
}
i.arrow:after {
    content: "";
    z-index: -1;
}

i.arrow { border-top-color: #B33333;
    border-width: 10px 10px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;}
    
i.arrow:after {border-top-color: rgba(0, 0, 0, 0.25);
    border-width: 11px 11px 0;
    bottom: -1px;
    left: -11px;}
    
.tags { background: #f5f5f5;}
.terminal-form label { width: 150px; }

